.encabezadoDiv{
    background-color: rgb(3, 2, 58);
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    
}
.logoDiv{
    display: inline-block;
    padding: 0px 40px;
    background-color: rgb(3, 2, 58);
    border-radius: 20px;
}
.logoDiv img{
    width: 150px;
    height: auto;
    align-items: center;
    display: block;
    border-radius: 15px;
}
.menuDiv{
    display: inline-block;
    vertical-align: top;
    background-color: rgb(3, 2, 58);
    
}
.menuDiv ul{
    list-style-type: none;
    border-radius: 20px;
    display: flex;

}
.menuDiv ul li{
    display: inline;
    align-content: center;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    background-color: rgb(3, 2, 58);
    border-radius: 6px;
    
}
.menuDiv ul li:hover{
    color: red;
}
.redesDiv{
    display: inline-block;
    padding: 10px 10px;
}
.redesDiv ul{
    list-style-type: none;
    align-content: center;
    padding: 0;
}
.redesDiv ul li{
    display: inline;
    margin-left: 10px;
    cursor: pointer;
    padding: 0px 1px;
}
.redesDiv ul li img{
    vertical-align: middle;
    width: 30px;
    height: auto;
    border-radius: 20px;
}