.cuerpoDiv{
    margin: 25px;
    display: flex;
    gap: 10%;
    align-items: center;
    padding: auto;
    justify-content: space-evenly;
}
.card1Div{
    display: flexbox;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    height: auto;
    width: auto;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    /*margin-left: 25%;*/
    
}
.card1Div img{
    vertical-align: middle;
    width: 290px;
    border-radius: 20px;
}
h2{
    color: grey;
}
h2:hover{
    color: rgb(53, 53, 53);
}
.card2Div{
    display: flexbox;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    height: auto;
    width: auto;
    border-radius: 6px;
    text-align: center;
    align-items: center;
}
.card2Div img{
    width: 250px;
    height: 180px;
    border-radius: 20px;
}
.card3Div{
    display: flexbox;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    height: auto;
    width: auto;
    border-radius: 6px;
    text-align: center;
    align-items: center;
}
.card3Div img{
    width: 250px;
    height: 180px;
    border-radius: 20px;
}