.ContenedorProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
    background-color: #1a1a1a; /* Fondo oscuro tipo gaming */
    /*background-color: #1a1a1a23; /* Color bajito */
    border-radius: 20px;
}

.CardProducto {
    background: #2d2d2d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    border: 1px solid #444;
    transition: transform 0.3s ease;
}

.CardProducto:hover {
    transform: translateY(-10px);
    border-color: #007bff;
}

.CajaLogo {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.CajaLogo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.InfoBajo {
    border-top: 1px solid #444;
    padding-top: 10px;
}

.Etiqueta {
    color: #888;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.PrecioTexto {
    color: #2ecc71; /* Verde esmeralda */
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0 0 0;
}